<h1>{{ first_name|capitalize }}</h1>

<p>Votre mot de passe à bien été modifié.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez contacter un administrateur.</p>

<p>L'équipe ERP - Base.</p>

