<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>OCVP Solutions</title>
    <meta name="keywords" content="">
    <meta name="description" content="Agence Web en ligne, nosu proposons nous service dans le cadre de la création de sites et applications web, d'extranets, intranets. Nous proposons également de l'hebergement web.">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/assets/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="/assets/images/loading.gif" alt="#"/></div>
</div>
<!-- end loader -->
<!-- top -->
<!-- header -->
{% include 'menu.html.twig' %}
<!-- end header -->
<div class="full_bg">
    <!-- header inner -->
    <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide slider_main">
            <ol class="carousel-indicators ">
                <li data-target="#banner1" data-slide-to="0" class="indicator-li-1">01</li>
                <li data-target="#banner1" data-slide-to="1" class="">02</li>
                <li data-target="#banner1" data-slide-to="2" class="active">03</li>
            </ol>
            <div class="carousel-inner">
                <!-- first slide -->
                <div class="carousel-item active">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="photog">
                                        <h1>{{ first_title }}</h1>
                                        <br>
                                        <h2>{{ second_title }}</h2>
                                        <!--<a class="read_more" href="javascript:void(0)" >Read More</a>
                                        <a class="read_more" href="about.html" >About Us</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second slide -->
                <!-- <div class="carousel-item">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="photog">
                                        <h1>{{ first_title }} <br> {{ second_title }}</h1>
                                        <a class="read_more" href="javascript:void(0)" >Read More</a>
                                        <a class="read_more" href="about.html" >About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- third slide -->
                <!-- <div class="carousel-item">
                    <div class="carousel-caption cuplle">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="photog">
                                        <h1>Care early<br>Coronavirus</h1>
                                        <a class="read_more" href="javascript:void(0)" >Read More</a>
                                        <a class="read_more" href="about.html" >About Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <!-- controls -->
            <!--<a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>-->
        </div>
    </div>
</div>
<!-- end banner -->
{% block body %}{% endblock %}
<!--  footer -->
{% include 'footer.html.twig' %}
<!-- end footer -->
<style>
    .header-area.fixed{
        transition-property: margin-top,margin-right;
        transition-duration: .5s,.1s;
        transition-delay: 0;
        transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
        -moz-transition-property: margin-top,margin-right;
        -moz-transition-duration: .5s,.1s;
        -moz-transition-delay: 0;
        -moz-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
        -o-transition-property: margin-top,margin-right;
        -o-transition-duration: .5s,.1s;
        -o-transition-delay: 0;
        -o-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
        -ms-transition-property: margin-top,margin-right;
        -ms-transition-duration: .5s,.1s;
        -ms-transition-delay: 0;
        -ms-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
        -webkit-transition-property: margin-top,margin-right;
        -webkit-transition-duration: .5s,.1s;
        -webkit-transition-delay: 0;
        -webkit-transition-timing-function: cubic-bezier(0.22,0.99,0.62,1);
        position:fixed;
        top:0;
        z-index:1000;
    }
</style>
<script>
    $(window).scroll(function (event) {
        // A chaque fois que l'utilisateur va scroller (descendre la page)
        var y = $(this).scrollTop(); // On récupérer la valeur du scroll vertical

        //si cette valeur > à 200 on ajouter la class
            $('.header-area').addClass('fixed');
    });
</script>
<!-- Javascript files-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>