<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="hedingh3 text_align_left">
                        <h3>Ressources</h3>
                        <ul class="menu_footer">
                            <li><a href="index.html">Accueil</a></li>
                            <li><a href="index.html">Services</a></li>
                            <li><a href="doctores.html">Blog</a></li>
                        </ul>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="hedingh3 text_align_left">
                        <h3>A propos</h3>
                        <p>Agence de référence en France, nous créons des sites web et proposons de la maintenance et de l'assistance pour vos sites.</p>
                    </div>
                </div>



                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="hedingh3  text_align_left">
                        <h3>Contactez-nous</h3>
                        <ul class="top_infomation">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                /
                            </li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>
                                Téléphone : +33 621945956
                            </li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="Javascript:void(0)">Email : contact@ocvp-solutions.com</a>
                            </li>
                        </ul>


                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="hedingh3 text_align_left">
                        <h3>Pays</h3>
                        <div class="map">
                            <img src="/assets/images/map.png" alt="#"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <p>©OCVP Solutions 2023 Tout droits réservé.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>