<div class="row">
    <div class="aboutService">
        <div class="container_width">
            <div class="row d_flex">
                <div class="col-md-7">
                    <div class="titlepage text_align_left">
                        <h2>Parlez-nous de votre projet</h2>
                        <p>Prenez render-vous en ligne ou par téléphone pour parler de votre projet à notre équipe.</p>
                        <a class="read_more" href="{{ path('app_appointment') }}">Prendre rendez-vous</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about_img text_align_center">
                        <figure><img src="/assets/images/project.jpg" alt="#"/></figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>