{% block body %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">{{ status_text }} - {{ status_code }}</div>
                </div>

            </div>
            <!-- /.container-fluid -->
{% endblock %}