{% block body %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">400</div>
                    <p class="lead text-gray-800 mb-5">La syntaxe de la requête est erronée !</p>
                </div>

            </div>
            <!-- /.container-fluid -->
{% endblock %}